<form [formGroup]="filterForm" (ngSubmit)="onSubmit()">
  <mat-form-field formGroupName="rangeCreationDate" class="w-100 mb-2">
    <mat-label>Creation date</mat-label>
    <mat-date-range-input [rangePicker]="pickerCreation">
      <input matStartDate placeholder="Start date" formControlName="start" />
      <input matEndDate placeholder="End date" formControlName="end" />
    </mat-date-range-input>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="pickerCreation"
    ></mat-datepicker-toggle>
    <mat-date-range-picker
      #pickerCreation
      disabled="false"
    ></mat-date-range-picker>
  </mat-form-field>

  <mat-form-field formGroupName="rangeCancellDate" class="w-100 mb-2">
    <mat-label>Cancellation date</mat-label>
    <mat-date-range-input [rangePicker]="pickerCancellation">
      <input matStartDate placeholder="Start date" formControlName="start" />
      <input matEndDate placeholder="End date" formControlName="end" />
    </mat-date-range-input>
    <mat-datepicker-toggle
      matIconSuffix
      [for]="pickerCancellation"
    ></mat-datepicker-toggle>
    <mat-date-range-picker
      #pickerCancellation
      disabled="false"
    ></mat-date-range-picker>
  </mat-form-field>

  <div class="row">
    <div class="col">
      <button
        mat-stroked-button
        color="primary"
        type="button"
        (click)="onReset()"
      >
        Reset
      </button>
    </div>
    <div class="col" id="filter-btn">
      <button
        mat-raised-button
        color="primary"
        type="submit"
      >
        Filter
      </button>
    </div>
  </div>
</form>
