<form [formGroup]="orderForm" (ngSubmit)="onSubmit()">
  <mat-form-field class="w-100">
    <mat-label>Customer</mat-label>
    <input matInput formControlName="customer" />
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>Creation Date</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="creationDate" />
    <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <div class="row mb-2">
    <div class="col">
      <h4>Items</h4>
    </div>
    <div class="col" id="add-btn">
      <button
        (click)="openDialog()"
        type="button"
        mat-mini-fab
        color="accent"
        aria-label="Add Item"
      >
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </div>
  <sales-order-item-table
    *ngIf="newOrder.items?.length"
    [items]="newOrder.items!"
  ></sales-order-item-table>

  <mat-form-field class="w-100">
    <mat-label>Subtotal</mat-label>
    <input matInput formControlName="subtotal" />
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>VAT</mat-label>
    <input matInput formControlName="vat" />
  </mat-form-field>

  <mat-form-field class="w-100">
    <mat-label>Total</mat-label>
    <input matInput formControlName="total" />
  </mat-form-field>

  <div class="row">
    <div class="col">
      <button
        mat-stroked-button
        color="primary"
        type="button"
        (click)="onCancel()"
      >
        Cancel
      </button>
    </div>
    <div class="col" id="btn-submit">
      <button
        mat-raised-button
        color="primary"
        type="submit"
        [disabled]="!orderForm.valid"
      >
        Save
      </button>
    </div>
  </div>
</form>
