<div class="order-table-container mat-elevation-z8">
  <table mat-table [dataSource]="orders">
    <!-- Order Column -->
    <ng-container matColumnDef="id">
      <th mat-header-cell *matHeaderCellDef>ID</th>
      <td mat-cell *matCellDef="let order">{{ order.id }}</td>
      <td mat-footer-cell *matFooterCellDef></td>
    </ng-container>

    <!-- customer Column -->
    <ng-container matColumnDef="customer">
      <th mat-header-cell *matHeaderCellDef>Customer</th>
      <td mat-cell *matCellDef="let order">{{ order.customer }}</td>
    </ng-container>

    <!-- customer Column -->
    <ng-container matColumnDef="creationDate">
      <th mat-header-cell *matHeaderCellDef>Creation Date</th>
      <td mat-cell *matCellDef="let order">
        {{ order.creationDate | date : formatDate }}
      </td>
    </ng-container>

    <!-- cancellationDate Column -->
    <ng-container matColumnDef="cancellationDate">
      <th mat-header-cell *matHeaderCellDef>Cancellation Date</th>
      <td mat-cell *matCellDef="let order">
        {{ order.cancellationDate | date : formatDate }}
      </td>
    </ng-container>

    <!-- Subtotal Column -->
    <ng-container matColumnDef="subtotal">
      <th mat-header-cell *matHeaderCellDef>Subtotal</th>
      <td mat-cell *matCellDef="let order">{{ order.subtotal | currency }}</td>
    </ng-container>

    <!-- vat Column -->
    <ng-container matColumnDef="vat">
      <th mat-header-cell *matHeaderCellDef>VAT</th>
      <td mat-cell *matCellDef="let order">{{ order.vat | percent }}</td>
    </ng-container>

    <!-- Total Column -->
    <ng-container matColumnDef="total">
      <th mat-header-cell *matHeaderCellDef>Total</th>
      <td mat-cell *matCellDef="let order">{{ order.total | currency }}</td>
    </ng-container>

    <!-- Actions Column -->
    <ng-container matColumnDef="actions">
      <th mat-header-cell *matHeaderCellDef>Actions</th>
      <td mat-cell *matCellDef="let order">
        <sales-order-cancel-btn
          *ngIf="!order.isCancel"
          [order]="order"
          (cancelEvent)="cancelOrder($event)"
        ></sales-order-cancel-btn>
        <button mat-raised-button color="primary" (click)="showDetails(order)">
          Details
        </button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
  </table>
</div>
