<div class="container">
  <div class="row text-center">
    <h1>Sale Order List</h1>
  </div>
  <div class="row justify-content-center mb-3">
    <div class="col-sm-12 col-md-5 col-lg-4">
      <sales-order-filter-form
        (addFilterEvent)="addFilter($event)"
        (resetFilterEvent)="removeFilter($event)"
      ></sales-order-filter-form>
    </div>
  </div>
  <div class="row justify-content-center">
    <div class="col-sm-12 col-md-12 col-lg-10">
      <sales-order-list-table [orders]="orders"></sales-order-list-table>
    </div>
  </div>
</div>
